/* Add application styles & imports to this file! */
@import './theme.scss';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body, html {
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}