@import '~@angular/material/theming';

@include mat-core();

$mat-primary: (
  50: #ff8080,
  100: #ff6666,
  200: #ff4d4d,
  300: #ff3333,
  400: #ff1a1a,
  500: #ff0000,
  600: #e60000,
  700: #cc0000,
  800: #b30000,
  900: #990000,
  A100: #b9eaf9,
  A200: #0e81a4,
  A400: #0a5d76,
  A700: #063746,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$mat-accent: (
  50: #80ccff,
  100: #66c2ff,
  200: #4db8ff,
  300: #33adff,
  400: #1aa3ff,
  500: #0099ff,
  600: #008ae6,
  700: #007acc,
  800: #006bb3,
  900: #005c99,
  A100: #fdd6ce,
  A200: #fb9884,
  A400: #fa6e52,
  A700: #f73008,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$custom-theme-primary: mat-palette($mat-primary);
$custom-theme-accent: mat-palette($mat-accent);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent);

@include angular-material-theme($custom-theme);